.sconsign.dblite
*~
*.o
*.os
*.so
cli/hello
cli/ppcmain
cli/i386main
cli/x86_64main
lib/*.a
*.pbxuser
*.perspectivev3
plugin/Hello/build/
plugin/Hello/Hello
plugin/Hello/Hello.plugin/
plugin/Hello/i386plugin
plugin/Hello/ppcplugin
plugin/Hello/x86_64plugin
