.sconsign.dblite
*~
*.o
*.os
*.so
*.pyc
*.dll
*.lib
*.res
parser.out
cli/hello*
lib/*.a
*.pbxuser
*.perspectivev3
lib/build
cli/build
plugin/Hello/build/
plugin/Hello/glue
plugin/Hello/Hello*
plugin/Hello/*.plugin/
